<html>
    <head>
        <title>Add Visit</title>
    </head>
    <body>
        <h1>Add Visit</h1>
        <form method="POST" action="{{url_for('add_visit')}}">
            {{ form.hidden_tag() }}
            <p>
                {{ form.visit_ID.label }}<br>
                {{ form.visit_ID(size=32) }}
            </p>
            <p>
                {{ form.thc_number.label }}<br>
                {{ form.thc_number(size=32) }}
            </p>
            <p>
                {{ form.date.label }}<br>
                {{ form.date(size=32, type = 'text') }}
            </p>
            <p>
                {{ form.visit_num.label }}<br>
                {{ form.visit_num(size=32) }}
            </p>
            <!-- <p>{{ form.submit() }}</p> -->
            <input type="submit" value="submit">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>