<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tinnitius/Hyeracusis Initial Interview Form</title>
</head>
<body>
    <h1>Tinnitus / Hyperacusis Initial Interview Form</h1>
    <form id = "tinnitus_initial">
        Clinic #: <input type = "number" name = "clinic_no"><br>
        First Name: <input type = "text" name = "first_name"><br>
        Last Name: <input type = "text" name = "last_name"><br>
        DOB: <input type = "date" name = "birthday"><br>
        SSN: 
            <input type = "number" name = "ssn1" min = "000" max = "999">-
            <input type = "number" name = "ssn2" min = "00" max = "99">-
            <input type = "number" name = "ssn3" min = "000" max = "999"><br>
        Insurance: <input type = "text" name = "insurance"><br>
        Date: <input type = "date" name = "date"><br>
        <br>
        Telephone: 
            <input type = "number" name = "tele1" min = "000" max = "999">-
            <input type = "number" name = "tele2" min = "00" max = "999">-
            <input type = "number" name = "tele3" min = "0000" max = "9999"><br>
        Email Address: <input type = "email" name = "email_address"><br>
        <br>
        <h3>Tinnitus</h3>
        Activities Prevented or Affected: <br>
            <!-- <br><textarea rows = "4" cols = "50" name = "comment" form = "tinnitus_initial" placeholder = "Enter text here"></textarea><br><br> -->
            <input type = "checkbox" name = "concentration-t-init" value = "Concentration">Concentration<br>
            <input type = "checkbox" name = "sleep-t-init" value = "Sleep">Sleep<br>
            <input type = "checkbox" name = "qra-t-init" value = "QRA">QRA<br>
            <input type = "checkbox" name = "work-t-init" value = "Work">Work<br>
            <input type = "checkbox" name = "restaurants-t-init" value = "Restaurants">Restaurants<br>
            <input type = "checkbox" name = "sports-t-init" value = "Sports">Sports<br>
            <input type = "checkbox" name = "social-t-init" value = "Social">Social<br>
            <input type = "checkbox" name = "other-t-init" value = "Other">Other<br>
            <br>
        Severity: <input type = "number" name = "severity-t-init" min = "0" max = "10"><br>
        Annoyance: <input type = "number" name = "annoyance-t-init" min = "0" max = "10"><br>
        Effect on Life: <input type = "number" name = "effect_on_life-t-init" min = "0" max = "10"><br>
        <br>
        Comments: <br><textarea rows = "4" cols = "50" name = "comment-t-init" form = "tinnitus_initial" placeholder = "Enter text here"></textarea>
        <br>
        <br>
        <h3>Sound Tolerance</h3>
        Activities Prevented or Affected: <br>
            <!-- <br><textarea rows = "4" cols = "50" name = "comment" form = "tinnitus_initial" placeholder = "Enter text here"></textarea><br><br> -->
            <input type = "checkbox" name = "concerts-st-init" value = "Concerts">Concerts<br>
            <input type = "checkbox" name = "shopping-st-init" value = "Shopping">Shopping<br>
            <input type = "checkbox" name = "movies-st-init" value = "Movies">Movies<br>
            <input type = "checkbox" name = "work-st-init" value = "Work">Work<br>
            <input type = "checkbox" name = "restaurants-t-init" value = "Restaurants">Restaurants<br>
            <input type = "checkbox" name = "driving-st-init" value = "Driving">Driving<br>
            <input type = "checkbox" name = "sports-st-init" value = "Sports">Sports<br>
            <input type = "checkbox" name = "church-st-init" value = "Church">Church<br>
            <input type = "checkbox" name = "housekeeping-st-init" value = "Housekeeping">Housekeeping<br>
            <input type = "checkbox" name = "childcare-st-init" value = "Childcare">Childcare<br>
            <input type = "checkbox" name = "social-st-init" value = "Social">Social<br>
            <input type = "checkbox" name = "other-st-init" value = "Other">Other<br>
            <br>
        Severity: <input type = "number" name = "severity-st-init" min = "0" max = "10"><br>
        Annoyance: <input type = "number" name = "annoyance-st-init" min = "0" max = "10"><br>
        Effect on Life: <input type = "number" name = "effect_on_life-st-init" min = "0" max = "10"><br>
        <br>
        Comments: <br><textarea rows = "4" cols = "50" name = "comment-st-init" form = "tinnitus_initial" placeholder = "Enter text here"></textarea>
        <br>
        <br>
        
    </form>
    
</body>
</html>
